body {
    background: rgb(184, 184, 184);
    z-index: 0;
}

.titulo {
    background-color: white;
    text-align: center;
}
.flex-container {
flex-direction: column;
}
.foto {
    width: 500px;
    height: 500px;
    background-color: white;
    color: black;
    margin:auto;
    border: 1px solid;

}
.top { 
    margin: 10px;
    display: flex;
    flex-direction: row;
    
}
.left {
    font-weight: bold;
    
}
.right {
    color: lightgray;

}